#search_block_top {
	padding-left: 0!important;
	padding-right: 0!important;
	/* position:relative; */
	float:left!important;
	vertical-align: middle;
	z-index:1;
	display: flex;
	/*   height: 100px */
	}
@media (min-width: 992px) {
  #search_block_top {
	  /* margin: auto; */
	  /*     width: 33.3333%; */
	  } }
  @media (min-width: 768px) and (max-width: 991px) {
#search_block_top #searchbox input
{background: white!important;}

 }
     
 
  #search_block_top #searchbox {/* float: left; */margin: auto;background:none;display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;/* border: 2px solid #ebebeb; */background: white;border-radius: 5px;}

#header .head .row .header-nav-block{/* float: left;display: block!important;padding-right:14px */padding-right: 0;}	

	
#search_block_top #searchbox input {
    background: none;
    border:none;
    color: #9C9B9B;
    display: inline;
    float:left;
    /*
    height: 32px;
    min-height:32px;
    line-height: 32px;
    margin: 11px 50px 11px 0;
    padding: 0 13px;
*/
    min-width: 250px;
    width: auto;
    padding-left: 5px!important;
    /* background: white; */
    }

   ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #b7b7b7!important;
  font-weight:bold!important;
  font-size:10px!important
  opacity: 0.5; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #b7b7b7!important;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #b7b7b7!important;
} 
@media (min-width: 991px) and (max-width: 1199px) {
    #search_block_top #searchbox input {
/*         width: 150px; */ } }
@media (max-width: 767px) {
	
	#search_block_top #searchbox input:focus{background-color:white!important} 
    #search_block_top #searchbox input {
    background-image: url(../../../img/logo.png);
    background-repeat: no-repeat;
    text-indent: 20px;
    min-width: 100px!important;
    width: 100%;
    height: 30px;
    background-color: white;
    background-size: 100px 33px;
    background-position: center;
    }


    
  #searchbox  ::-webkit-input-placeholder {
   color:transparent!important;
		}
   

#searchbox ::-webkit-input-placeholder {
        /* WebKit browsers */
         color: transparent;
    }
  #searchbox   :-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
         color: transparent;
    }
 #searchbox    ::-moz-placeholder {
        /* Mozilla Firefox 19+ */
         color: transparent;
    }
 #searchbox    :-ms-input-placeholder {
        /* Internet Explorer 10+ */
         color: transparent;
    }
  #searchbox   input::placeholder {
         color: transparent;
    }
  #searchbox   textarea::-webkit-input-placeholder {
        /* WebKit browsers */
         color: transparent;
    }
  #searchbox   textarea:-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
         color: transparent;
    }
  #searchbox   textarea::-moz-placeholder {
        /* Mozilla Firefox 19+ */
         color: transparent;
    }
  #searchbox   textarea:-ms-input-placeholder {
        /* Internet Explorer 10+ */
         color: transparent;
    }
 #searchbox    textarea::placeholder {
         color: transparent;
    }

    }
  #search_block_top .btn.button-search {
      -webkit-border-radius: 0 5px 5px 0;
      -moz-border-radius: 0 5px 5px 0;
      -ms-border-radius: 0 5px 5px 0;
      -o-border-radius: 0 5px 5px 0;
      display: none!important;
      border-radius: 0 5px 5px 0;
      background: #fbfbfb;
      /*       position: absolute; */
      border: none!important;
      width: 56px;
      padding:0;
      display: inline-block;
      -webkit-transition: all 150ms linear;
      -moz-transition: all 150ms linear;
      -ms-transition: all 150ms linear;
      -o-transition: all 150ms linear;
      transition: all 150ms linear;
      text-align: center;
      }
/*
    #search_block_top .btn.button-search span {
      background: url("../../../img/icons-lens.png") no-repeat scroll center center rgba(0, 0, 0, 0);
      border: medium none;
      display: block;
      height: 34px;
      width: 34px;
        margin:0 auto;
      line-height: 34px;
      /*opacity: 0.65;*/
      /*filter: alpha(opacity=65);
      -webkit-transition: all 0.2s linear;
      -moz-transition: all 0.2s linear;
      -o-transition: all 0.2s linear;
      transition: all 0.2s linear;
      text-indent: -9999px; }
*/
    #search_block_top .btn.button-search:hover span {
      /*opacity: 1;*/
      /*filter: alpha(opacity=1);*/ }
  #search_block_top #search_query_top {
    display: inline;
    padding: 0;
    height: 50px;
    line-height: 40px;
    background: #fbfbfb;
    margin-right: 1px;
    }

.ac_results {
  background: white;
  border-color: #e5e5e5;
    border-style: solid;
    border-width: 1px 1px 4px 1px;
  width: 360px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    margin-top:15px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 6px;
    -moz-box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 6px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 6px;
}
  .ac_results li {

    padding: 8px 12px 8px 8px;
    font-weight: normal;
    color: #686666;
    font-size: 11px;
    line-height: 1.1em!important;
	cursor:pointer; }
    .ac_results li img {
      margin-right:10px;
        float:left;
      border-right:2px solid #fafafa; }
    .ac_results li.ac_odd {
      background: white; }
    .ac_results li:hover, .ac_results li.ac_over {
      background: #fbfbfb; }

form#searchbox {
  position: relative; }
  form#searchbox label {
    color: #333333; }
  form#searchbox input#search_query_block {
    margin-right: 10px;
    max-width: 222px;
    margin-bottom: 10px;
    display: inline-block;
    float: left; }
  form#searchbox .button.button-small {
    float: left; }
    form#searchbox .button.button-small i {
      margin-right: 0; }
      
      
.rs_call_icon:before {
    color: #323232 !important;
}
.rs_call_icon:before {
    font-size: 20px!important;
}
.rs_call_icon:before {
    font-family: "Ionicons";
    font-size: 25px;
    line-height: 25px;
    content: "\f4a4";
    font-weight: bold;
    color: #F4157E!important;
    display: inline-block;
    -webkit-transition: all 150ms linear;
    -moz-transition: all 150ms linear;
    -o-transition: all 150ms linear;
    transition: all 150ms linear;
}
/* .menu-little{height:100px} */