.tags_block .block_content {
    overflow: hidden; }
    .tags_block .block_content a {
        display: inline-block;
        font-size: 13px;
        line-height: 16px;
        font-weight: 500;
        padding: 8px 12px;
        border: 1px solid #e5e5e5;
        float: left;
        margin: 0 3px 3px 0; }
    .tags_block .block_content a:hover {
        color: #ffffff;
        border-color:#343a41;
        background: #343a41; }
