/******************************************************************************
						Home Page Slider
*******************************************************************************/
#homepage-slider {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 10px;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  position: relative;
  z-index: 1;
  float: right; }
  @media (min-width:768px) and (max-width: 1199px) {
    #homepage-slider {
	  margin-bottom: 8px;
      margin-top: 0; } }
  @media (max-width: 767px) {
    #homepage-slider {
	  margin-bottom: 6px;
      margin-top: 0; } }
  #homepage-slider #homeslider {
    margin: 0 auto;
    padding: 0; }
  #homepage-slider .homeslider-description {
    padding: 50px 50px;
    cursor: pointer; }
    #homepage-slider .homeslider-description h2 {
      font: 400 3.8em/1em "Oswald", sans-serif;
      color: white;
      text-shadow: 0 0 0.7em #333333;
      margin: 0 0 0.5em 0;
      padding: 0; }
    @media (max-width: 479px) {
    #homepage-slider .homeslider-description h2 {
      font-size: 3em; } }
    #homepage-slider .homeslider-description p {
      font-size: 1.8em;
      line-height: 1.1em;
      text-shadow: 0 0 0.8em #333333;
      padding: 0;
      margin-bottom:0;
      color: white; }
    #homepage-slider .homeslider-description button {
      font: 400 1.3em/1em "Oswald", sans-serif;
      margin:1em 0 0 0;
      text-shadow:none;
      padding:12px 26px;
      text-transform: uppercase; }
    @media (max-width: 1200px) {
      #homepage-slider .homeslider-description {
        padding: 40px;
        font-size: 0.8em; }
        #homepage-slider .homeslider-description p {
          font-size: 1.4em; }
		#homepage-slider .homeslider-description button {
          font-size: 1.1em; } }
    @media (max-width: 991px) {
      #homepage-slider .homeslider-description {
        padding: 30px;
        font-size: 0.7em; }
        #homepage-slider .homeslider-description p {
          font-size: 1.5em; } }		
    @media (max-width: 768px) {
      #homepage-slider .homeslider-description {
        padding: 30px;
        font-size: 0.7em; }
        #homepage-slider .homeslider-description p {
          font-size: 1.7em; } 
		#homepage-slider .homeslider-description button {
          font-size: 1.3em; } }
    @media (max-width: 520px) {		
	  #homepage-slider .homeslider-description button {
        display:none; } }	
    @media (max-width: 480px) {
      #homepage-slider .homeslider-description {
        padding: 20px;
		line-height:1.2em;
        font-size: 0.7em; }
        #homepage-slider .homeslider-description p {
          display:none; } }

/*****************************************************************************
						BXSlider Styles
********************************************************************************/
#homepage-slider .homeslider-container {
  position: relative; }
#homepage-slider .homeslider-image {
  position: absolute;
  left: 0;
  top: 0; }
#homepage-slider .homeslider-description {
  position: absolute;
  left: 0;
  top: 0; }
#homepage-slider .bx-wrapper {
  position: relative;
  padding: 0;
  *zoom: 1; }
  #homepage-slider .bx-wrapper a {
    display: block; }
  #homepage-slider .bx-wrapper img {
    display: block;
    max-width: 100%;
    height: auto; }
#homepage-slider .bx-wrapper .bx-viewport {
  width: 100%; }
#homepage-slider .bx-wrapper .bx-pager,
#homepage-slider .bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: -30px;
  width: 100%; }
#homepage-slider .bx-wrapper .bx-loading {
  min-height: 50px;
  background: url(images/bx_loader.gif) center center no-repeat white;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000; }
#homepage-slider .bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #666;
  padding-top: 20px; }
#homepage-slider .bx-wrapper .bx-pager .bx-pager-item,
#homepage-slider .bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  *zoom: 1;
  *display: inline; }
#homepage-slider .bx-wrapper .bx-pager.bx-default-pager a {
  background: #666;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }
#homepage-slider .bx-wrapper .bx-pager.bx-default-pager a:hover,
#homepage-slider .bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #000; }
#homepage-slider .bx-wrapper .bx-prev {
    background: url('images/icons-leftright.png') no-repeat 0 0 #f4f4f4;
	content:" ";
	width:42px;
	height:42px;
	border-radius:21px;
	-webkit-border-radius:21px;
	-moz-border-radius:21px;
	-khtml-border-radius:21px;
	text-indent:-9999px;
    display: inline-block;
    float: right;
    left: 50px;
	opacity:0.65;
    filter: alpha(opacity=65); 
	-webkit-transition: opacity 0.2s linear;
	-moz-transition: opacity 0.2s linear;
	-o-transition: opacity 0.2s linear;
	transition: opacity 0.2s linear; }
#homepage-slider .bx-wrapper .bx-next {
    background: url('images/icons-leftright.png') no-repeat -42px 0 #f4f4f4;
	content:" ";
	width:42px;
	height:42px;
	border-radius:21px;
	-webkit-border-radius:21px;
	-moz-border-radius:21px;
	-khtml-border-radius:21px;
	text-indent:-9999px;
    display: inline-block;
    float: right;
    left: 100px; 	
	opacity:0.65;
    filter: alpha(opacity=65); 
	-webkit-transition: opacity 0.2s linear;
	-moz-transition: opacity 0.2s linear;
	-o-transition: opacity 0.2s linear;
	transition: opacity 0.2s linear; }
	@media (min-width: 992px) and (max-width: 1200px) {
      #homepage-slider .bx-wrapper .bx-prev {
        left:40px;
		transform:scale(0.9);
		-ms-transform:scale(0.9);
		-webkit-transform:scale(0.9); }  
      #homepage-slider .bx-wrapper .bx-next {
        left:86px;
		transform:scale(0.9);
		-ms-transform:scale(0.9);
		-webkit-transform:scale(0.9); } }
	@media (max-width: 991px) {
      #homepage-slider .bx-wrapper .bx-prev, #homepage-slider .bx-wrapper .bx-next {
        display:none; } }
#homepage-slider .bx-wrapper .bx-prev:hover, #homepage-slider .bx-wrapper .bx-next:hover {
    opacity:1;
    filter: alpha(opacity=100); }
#homepage-slider .bx-wrapper .bx-controls-direction a {
  position: absolute;
  bottom: 30px;
  outline: 0;
  width: 42px;
  height: 42px;
  text-indent: -9999px;
  z-index: 9999; }
#homepage-slider .bx-wrapper .bx-controls-direction a.disabled {
  display: none; }
#homepage-slider .bx-wrapper .bx-controls-auto {
  text-align: center; }
#homepage-slider .bx-wrapper .bx-controls-auto .bx-start {
  display: block;
  text-indent: -9999px;
  width: 10px;
  height: 11px;
  outline: 0;
  background: url(images/controls.png) -86px -11px no-repeat;
  margin: 0 3px; }
#homepage-slider .bx-wrapper .bx-controls-auto .bx-start:hover,
#homepage-slider .bx-wrapper .bx-controls-auto .bx-start.active {
  background-position: -86px 0; }
#homepage-slider .bx-wrapper .bx-controls-auto .bx-stop {
  display: block;
  text-indent: -9999px;
  width: 9px;
  height: 11px;
  outline: 0;
  background: url(images/controls.png) -86px -44px no-repeat;
  margin: 0 3px; }
#homepage-slider .bx-wrapper .bx-controls-auto .bx-stop:hover,
#homepage-slider .bx-wrapper .bx-controls-auto .bx-stop.active {
  background-position: -86px -33px; }
#homepage-slider .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: left;
  width: 80%; }
#homepage-slider .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  right: 0;
  width: 35px; }
#homepage-slider .bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666666 \9;
  background: rgba(80, 80, 80, 0.75);
  width: 100%; }
#homepage-slider .bx-wrapper .bx-caption span {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  font-size: .85em;
  padding: 10px; }

.ie8 #homepage-slider .bx-wrapper .bx-controls-direction a:before {
  background: #333333; }
